

      <form class="form-signin" role="form">
        <h2 class="form-signin-heading">Thanks For Registering</h2>
        <input type="text" class="form-control" placeholder="Email address" required autofocus  ng-model="user.email">
        <input type="password" class="form-control" placeholder="Set Password" required ng-model="user.password">
        <input type="text" class="form-control" placeholder="Choose username" required ng-model="user.username">
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="register(user)">Register Me!</button>
      </form>

